.qrscan{
    background-color: none;
    margin-top: 70px;
    align-items: center;
    text-align: center;
}

#mycanvas {
    width: 60%;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
}

#btnscan {
    width: 10%;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #FC9494;
    background: none;
    color: #FC9494;
    transition: .5s;
}

#btnscan:hover{
    color: #ffffff;
    background-color: #FC9494;
}

@media all and (max-width: 876px){
    #mycanvas{
        width: 80%;
    }
}